[submodule "wp"]
	path = wp
	url = git@github.com:WordPress/WordPress.git
[submodule "core/lib/api"]
	path = core/lib/api
	url = git@github.com:WP-API/WP-API.git
	branch = develop
[submodule "core/lib/oauth1"]
	path = core/lib/oauth1
	url = git@github.com:WP-API/OAuth1.git
	branch = admin-ui
[submodule "core/lib/options"]
	path = core/lib/options
	url = git@github.com:valendesigns/option-tree.git
[submodule "core/lib/cache"]
	path = core/lib/cache
	url = git@github.com:Automattic/wp-super-cache.git
[submodule "core/lib/history"]
	path = core/lib/history
	url = git@github.com:bonny/WordPress-Simple-History.git
[submodule "core/lib/thumbs"]
	path = core/lib/thumbs
	url = git@github.com:Viper007Bond/regenerate-thumbnails.git
[submodule "core/lib/translate"]
	path = core/lib/translate
	url = git@github.com:qTranslate-Team/qtranslate-x.git
