# Enviroment variables
.env
.env.*
!.env.example

# Configuration files
wp-config.php
app/db.php

# Content
app/uploads/*
!app/uploads/.gitkeep
.logs/
!.logs/.gitkeep
app/themes/*
!app/themes/.gitkeep
