#menu-bar {
  nav {
    background-color: transparent;
    box-shadow: none;
    a {
      color: #fff;
    }

    &.detached {
      background-color: rgba($secondary, .7);
      height: 40px;
      min-height: 40px;
      overflow: hidden;

      .logo .icon {
        font-size: 0.6em;
        color: $main;
      }

      a {
        padding: 10px;
      }

      form {
        display: none;
      }

      .navbar-brand {
        padding: 5px 0;
      }
    }
  }
}
